<div class="row">
  <div class="col-xs-12 col-md-8">
    <img class="img-responsive about-image" src="../resources/people.jpeg" alt="people-image" height="413" width="550" />
  </div>

  <div class="col-xs-12 col-md-4 second-column">
    <h1 id="who-we-are-headline">Who We Are</h1>

    <p>This is a project for the <a href="https://www.coursera.org/specializations/full-stack" target="new">Coursera Full-Stack Web Development Specialization</a>. It is an app for clubs, churches, etc. to connect members. Users can add or update their own info, and admins can update anyone's info. Built with:</p>

    <ul>
      <li><a href="https://angularjs.org/" target="new">Angular JS</a></li>
      <li><a href="https://nodejs.org/en/" target="new">Node JS</a></li>
      <li><a href="https://www.mongodb.com/" target="new">Mongo DB</a></li>
      <li><a href="http://getbootstrap.com/" target="new">Bootstrap</a></li>
    </ul>
    <p>Find it on <a href="https://github.com/dkmullen/directory-project" target="new">Github</a></p>
    <h3>Credits:</h3>
    <p>
      Globe graphic by <a href="http://www.flaticon.com/authors/freepik" target="new">Freepik</a> from <a href="http://www.flaticon.com/" target="new">Flaticon</a>. License: <a href="http://creativecommons.org/licenses/by/3.0/" target="new" title="Creative Commons BY 3.0">CC BY 3.0</a>. Logo from <a href="http://logomakr.com" target="new" title="Logo Maker">Logo Maker</a>
    </p>
    <p>
      Images and some data are from <a href="https://www.npmjs.com/package/faker" target="new">Faker</a> and <a href="https://dummyimage.com/" target="new">DummyImage.com</a>.
    </p>
  </div>
</div>
